.menubar {
  /* height: max-content; */
  -webkit-app-region: drag;
  width: 100%;
  color: var(--color-1);
  background-color: var(--color-4);
  font-size: 0.8rem;
  border-bottom: 2px solid var(--color-2);
}

.btn-menubar {
  -webkit-app-region: no-drag;
  padding: 6px 10px 4px;
  background-color: var(--color-4);
  color: #f5f5f5;
  transition: var(--transition);
}

.btn-menubar:hover {
  background-color: var(--color-1);
}

.btn-menubar-exit:hover {
  background-color: var(--color-6);
}

img {
  -webkit-app-region: no-drag;
  padding: 6px 10px 4px;
}