@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.player {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.player>.btn {
  /* width: 37.2px; */
  height: 37.2px;
  margin: 0.2rem;
  padding: 0.3rem 0.2rem;
}

.slider>.slider-outer {

  min-width: 95px;
  width: 100%;
  height: 37.2px;
}

.slider {
  padding: 0.2rem 0.2rem;
  width: 100%;
  min-height: 37.2px;
  display: grid;
}

.btn-disabled {
  height: 37.2px;
  margin: 0.2rem;
  padding: 0.3rem 0.2rem;
}