@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.player {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.player>.btn {
  height: 37.2px;
  margin: 0.2rem;
  padding: 0.3rem 0.2rem;
}

.player>.btn-disabled {
  color: var(--color-4);
  background: var(--color-2);
  border: 3px solid var(--color-4);
  animation: fadeIn 0.4s;
  cursor: default;
  pointer-events: none;
}

.slider>.slider-outer {

  min-width: 95px;
  width: 100%;
  height: 37.2px;
}

.slider {
  padding: 0.2rem 0.2rem;
  width: 100%;
  min-height: 37.2px;
  display: grid;
}