.slider-outer {
  width: 100%;
  background: transparent;
  border: 3px solid var(--color-1);
  height: 100%;
}

.slider-inner {
  width: 100%;
  height: 100%;
}

.slider-handle {
  background: var(--color-1);
  height: 100%;
  width: 15px;
  z-index: 999;
}